In [1]:
# food checking app for gowdown

In [2]:
import pandas as pd
Gowdown=pd.read_excel(r"E:\durga79\EXCEL_FILES\Annacanteen_final.xlsx",sheet_name="Gowdown")

In [3]:
Gowdown

,Muncipal_Corporation,Food_gowdown,Total_quantity,Anna_canteen,Delivery_location,Food_temperature,Delivery_time,Delivery_person,Food_quantity_per_plate,Route_steps,Delivery_reach_time,Employee_details
0,Corporation1,Gowdown1,600kg,Canteen1,location1,135°F,11:30pm,person1,885gm,route1 to route2,12:00pm,counter1
1,Corporation1,Gowdown1,600kg,Canteen2,location2,135°F,11:30pm,person1,885gm,route1 to route3,12:00pm,counter1
2,Corporation1,Gowdown1,600kg,Canteen3,location3,135°F,11:45pm,person1,885gm,route1 to route4,12:00pm,counter2
3,Corporation1,Gowdown2,750kg,Canteen1,location1,135°F,11:00pm,person2,885gm,route1 to route2,12:00pm,counter1
4,Corporation1,Gowdown2,750kg,Canteen2,location2,135°F,11:00pm,person2,885gm,route1 to route3,12:00pm,counter1
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Corporation9,Gowdown1,600kg,Canteen4,location4,135°F,11:00pm,person1,885gm,route1 to route5,12:00pm,counter1
95,Corporation9,Gowdown2,650kg,Canteen1,location1,135°F,11:00pm,person2,885gm,route1 to route2,12:00pm,counter1
96,Corporation9,Gowdown2,650kg,Canteen2,location2,135°F,11:00pm,person2,885gm,route1 to route3,12:00pm,counter1
97,Corporation9,Gowdown2,650kg,Canteen3,location3,135°F,11:10pm,person2,885gm,route1 to route4,12:00pm,counter1
98,Corporation9,Gowdown2,650kg,Canteen4,location4,135°F,11:00pm,person2,885gm,route1 to route5,12:00pm,counter2

In [4]:
Gowdown.head()

,Muncipal_Corporation,Food_gowdown,Total_quantity,Anna_canteen,Delivery_location,Food_temperature,Delivery_time,Delivery_person,Food_quantity_per_plate,Route_steps,Delivery_reach_time,Employee_details
0,Corporation1,Gowdown1,600kg,Canteen1,location1,135°F,11:30pm,person1,885gm,route1 to route2,12:00pm,counter1
1,Corporation1,Gowdown1,600kg,Canteen2,location2,135°F,11:30pm,person1,885gm,route1 to route3,12:00pm,counter1
2,Corporation1,Gowdown1,600kg,Canteen3,location3,135°F,11:45pm,person1,885gm,route1 to route4,12:00pm,counter2
3,Corporation1,Gowdown2,750kg,Canteen1,location1,135°F,11:00pm,person2,885gm,route1 to route2,12:00pm,counter1
4,Corporation1,Gowdown2,750kg,Canteen2,location2,135°F,11:00pm,person2,885gm,route1 to route3,12:00pm,counter1

In [5]:
Gowdown.tail()

,Muncipal_Corporation,Food_gowdown,Total_quantity,Anna_canteen,Delivery_location,Food_temperature,Delivery_time,Delivery_person,Food_quantity_per_plate,Route_steps,Delivery_reach_time,Employee_details
94,Corporation9,Gowdown1,600kg,Canteen4,location4,135°F,11:00pm,person1,885gm,route1 to route5,12:00pm,counter1
95,Corporation9,Gowdown2,650kg,Canteen1,location1,135°F,11:00pm,person2,885gm,route1 to route2,12:00pm,counter1
96,Corporation9,Gowdown2,650kg,Canteen2,location2,135°F,11:00pm,person2,885gm,route1 to route3,12:00pm,counter1
97,Corporation9,Gowdown2,650kg,Canteen3,location3,135°F,11:10pm,person2,885gm,route1 to route4,12:00pm,counter1
98,Corporation9,Gowdown2,650kg,Canteen4,location4,135°F,11:00pm,person2,885gm,route1 to route5,12:00pm,counter2

In [6]:
Gowdown.columns

Index(['Muncipal_Corporation', 'Food_gowdown', 'Total_quantity',
       'Anna_canteen', 'Delivery_location', 'Food_temperature',
       'Delivery_time', 'Delivery_person', 'Food_quantity_per_plate',
       'Route_steps', 'Delivery_reach_time', 'Employee_details'],
      dtype='object')

In [7]:
Gowdown.dtypes

Muncipal_Corporation       object
Food_gowdown               object
Total_quantity             object
Anna_canteen               object
Delivery_location          object
Food_temperature           object
Delivery_time              object
Delivery_person            object
Food_quantity_per_plate    object
Route_steps                object
Delivery_reach_time        object
Employee_details           object
dtype: object

In [8]:
Gowdown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Muncipal_Corporation     99 non-null     object
 1   Food_gowdown             99 non-null     object
 2   Total_quantity           99 non-null     object
 3   Anna_canteen             99 non-null     object
 4   Delivery_location        99 non-null     object
 5   Food_temperature         99 non-null     object
 6   Delivery_time            99 non-null     object
 7   Delivery_person          99 non-null     object
 8   Food_quantity_per_plate  99 non-null     object
 9   Route_steps              99 non-null     object
 10  Delivery_reach_time      99 non-null     object
 11  Employee_details         99 non-null     object
dtypes: object(12)
memory usage: 9.4+ KB

In [10]:
filters=Gowdown[['Muncipal_Corporation', 'Food_gowdown', 'Anna_canteen','Food_temperature', 'Total_quantity','Route_steps','Delivery_location','Delivery_time','Employee_details']]
filters

,Muncipal_Corporation,Food_gowdown,Anna_canteen,Food_temperature,Total_quantity,Route_steps,Delivery_location,Delivery_time,Employee_details
0,Corporation1,Gowdown1,Canteen1,135°F,600kg,route1 to route2,location1,11:30pm,counter1
1,Corporation1,Gowdown1,Canteen2,135°F,600kg,route1 to route3,location2,11:30pm,counter1
2,Corporation1,Gowdown1,Canteen3,135°F,600kg,route1 to route4,location3,11:45pm,counter2
3,Corporation1,Gowdown2,Canteen1,135°F,750kg,route1 to route2,location1,11:00pm,counter1
4,Corporation1,Gowdown2,Canteen2,135°F,750kg,route1 to route3,location2,11:00pm,counter1
...,...,...,...,...,...,...,...,...,...
94,Corporation9,Gowdown1,Canteen4,135°F,600kg,route1 to route5,location4,11:00pm,counter1
95,Corporation9,Gowdown2,Canteen1,135°F,650kg,route1 to route2,location1,11:00pm,counter1
96,Corporation9,Gowdown2,Canteen2,135°F,650kg,route1 to route3,location2,11:00pm,counter1
97,Corporation9,Gowdown2,Canteen3,135°F,650kg,route1 to route4,location3,11:10pm,counter1
98,Corporation9,Gowdown2,Canteen4,135°F,650kg,route1 to route5,location4,11:00pm,counter2

In [11]:
df=pd.DataFrame(Gowdown)

In [16]:
def Food_checking_app(df,Muncipal_Corporation,Food_gowdown,Anna_canteen):
    newdf=filters[(filters["Muncipal_Corporation"]==Muncipal_Corporation) & (filters["Food_gowdown"]==Food_gowdown) & (filters["Anna_canteen"]==Anna_canteen)]
    final=newdf.to_dict('dict')
    return final

In [17]:
Food_checking_app(df,"Corporation1","Gowdown1","Canteen2")

{'Muncipal_Corporation': {1: 'Corporation1'},
 'Food_gowdown': {1: 'Gowdown1'},
 'Anna_canteen': {1: 'Canteen2'},
 'Food_temperature': {1: '135°F'},
 'Total_quantity': {1: '600kg'},
 'Route_steps': {1: 'route1 to route3'},
 'Delivery_location': {1: 'location2'},
 'Delivery_time': {1: '11:30pm'},
 'Employee_details': {1: 'counter1'}}

In [ ]:
# token generation app

In [18]:
import pandas as pd
token_generation=pd.read_excel(r"E:\durga79\EXCEL_FILES\Annacanteen_final.xlsx",sheet_name="Annacanteen")
token_generation

,Muncipal_Corporation,Food_gowdown,Anna_canteen,Total_quantity,Food_temperature,Delivery_time,Received_time,Food_quantity_per_plate,Delivery_route,Reached_route,Delivery_reach_time_provided,Delivery_reach_time_reached,Anna_canteen_counter,Customer_repetition,Consumed_plates,Available_plates,Total_customers
0,Corporation1,Gowdown1,Canteen1,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route2,route1 to route2,12:00pm,12:00pm,counter1,9,260,40,260
1,Corporation1,Gowdown1,Canteen2,200kg,130°F,12:00pm,12:30pm,885gm,route1 to route3,route1 to route5,12:00pm,12:30pm,counter1,10,280,20,280
2,Corporation1,Gowdown1,Canteen3,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route4,route1 to route4,12:00pm,12:00pm,counter2,25,300,0,300
3,Corporation1,Gowdown2,Canteen1,265kg,130°F,12:00pm,12:15pm,885gm,route1 to route2,route1 to route2,12:00pm,12:15pm,counter1,26,300,0,300
4,Corporation1,Gowdown2,Canteen2,265kg,130°F,12:00pm,12:00pm,885gm,route1 to route3,route1 to route3,12:00pm,12:00pm,counter1,3,200,100,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Corporation9,Gowdown1,Canteen4,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route5,route1 to route5,12:00pm,12:00pm,counter1,9,300,0,300
95,Corporation9,Gowdown2,Canteen1,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route2,route1 to route6,12:00pm,12:00pm,counter1,20,300,0,300
96,Corporation9,Gowdown2,Canteen2,200kg,130°F,12:00pm,12:26pm,885gm,route1 to route3,route1 to route3,12:00pm,12:26pm,counter1,10,193,107,193
97,Corporation9,Gowdown2,Canteen3,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route4,route1 to route4,12:00pm,12:00pm,counter1,23,300,0,300
98,Corporation9,Gowdown2,Canteen4,200kg,130°F,12:00pm,12:19pm,885gm,route1 to route5,route1 to route5,12:00pm,12:19pm,counter2,10,300,0,300

In [19]:
token_generation.head()

,Muncipal_Corporation,Food_gowdown,Anna_canteen,Total_quantity,Food_temperature,Delivery_time,Received_time,Food_quantity_per_plate,Delivery_route,Reached_route,Delivery_reach_time_provided,Delivery_reach_time_reached,Anna_canteen_counter,Customer_repetition,Consumed_plates,Available_plates,Total_customers
0,Corporation1,Gowdown1,Canteen1,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route2,route1 to route2,12:00pm,12:00pm,counter1,9,260,40,260
1,Corporation1,Gowdown1,Canteen2,200kg,130°F,12:00pm,12:30pm,885gm,route1 to route3,route1 to route5,12:00pm,12:30pm,counter1,10,280,20,280
2,Corporation1,Gowdown1,Canteen3,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route4,route1 to route4,12:00pm,12:00pm,counter2,25,300,0,300
3,Corporation1,Gowdown2,Canteen1,265kg,130°F,12:00pm,12:15pm,885gm,route1 to route2,route1 to route2,12:00pm,12:15pm,counter1,26,300,0,300
4,Corporation1,Gowdown2,Canteen2,265kg,130°F,12:00pm,12:00pm,885gm,route1 to route3,route1 to route3,12:00pm,12:00pm,counter1,3,200,100,200

In [20]:
token_generation.tail()

,Muncipal_Corporation,Food_gowdown,Anna_canteen,Total_quantity,Food_temperature,Delivery_time,Received_time,Food_quantity_per_plate,Delivery_route,Reached_route,Delivery_reach_time_provided,Delivery_reach_time_reached,Anna_canteen_counter,Customer_repetition,Consumed_plates,Available_plates,Total_customers
94,Corporation9,Gowdown1,Canteen4,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route5,route1 to route5,12:00pm,12:00pm,counter1,9,300,0,300
95,Corporation9,Gowdown2,Canteen1,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route2,route1 to route6,12:00pm,12:00pm,counter1,20,300,0,300
96,Corporation9,Gowdown2,Canteen2,200kg,130°F,12:00pm,12:26pm,885gm,route1 to route3,route1 to route3,12:00pm,12:26pm,counter1,10,193,107,193
97,Corporation9,Gowdown2,Canteen3,200kg,130°F,12:00pm,12:00pm,885gm,route1 to route4,route1 to route4,12:00pm,12:00pm,counter1,23,300,0,300
98,Corporation9,Gowdown2,Canteen4,200kg,130°F,12:00pm,12:19pm,885gm,route1 to route5,route1 to route5,12:00pm,12:19pm,counter2,10,300,0,300

In [21]:
token_generation.dtypes

Muncipal_Corporation            object
Food_gowdown                    object
Anna_canteen                    object
Total_quantity                  object
Food_temperature                object
Delivery_time                   object
Received_time                   object
Food_quantity_per_plate         object
Delivery_route                  object
Reached_route                   object
Delivery_reach_time_provided    object
Delivery_reach_time_reached     object
Anna_canteen_counter            object
Customer_repetition              int64
Consumed_plates                  int64
Available_plates                 int64
Total_customers                  int64
dtype: object

In [24]:
col_fil=token_generation[["Muncipal_Corporation","Food_gowdown","Anna_canteen","Food_temperature","Total_quantity","Customer_repetition","Consumed_plates","Available_plates","Total_customers",]]

In [25]:
def Food_checking_app(token_generation,Muncipal_Corporation,Food_gowdown,Anna_canteen):
    newdf=col_fil[(col_fil["Muncipal_Corporation"]==Muncipal_Corporation) & (col_fil["Food_gowdown"]==Food_gowdown) & (col_fil["Anna_canteen"]==Anna_canteen)]
    final=newdf.to_dict('dict')
    return final

In [26]:
Food_checking_app(token_generation,"Corporation1","Gowdown2","Canteen4")

{'Muncipal_Corporation': {6: 'Corporation1'},
 'Food_gowdown': {6: 'Gowdown2'},
 'Anna_canteen': {6: 'Canteen4'},
 'Food_temperature': {6: '130°F'},
 'Total_quantity': {6: '265kg'},
 'Customer_repetition': {6: 22},
 'Consumed_plates': {6: 290},
 'Available_plates': {6: 10},
 'Total_customers': {6: 290}}

In [ ]:
# feedback and donation generation app

In [27]:
donation=pd.read_excel(r"E:\durga79\EXCEL_FILES\Annacanteen_final.xlsx",sheet_name="Corporation")
donation

,Muncipal_Corporation,Food_gowdown,Quantity_delivery_from_each_Gowdown,No_of_employees,Anna_canteen,Preparation_time_for_each_canteen,Food_temperature,No_of_Items,Total_cost,Total_customers,Total_available_food_plates,No_of_plates_consumed,No_of_feedbacks,No_of_positive_feedbacks,No_of_negative_feedbacks,Food_weight_at_annacanteen,No_of_donations,Total_donation_amount,Total_tokens_generated
0,Corporation1,Gowdown1,600kg,15,Canteen1,1hrs,135°F,7,50000,260,300,260,83,53,8,200kg,103,9590,260
1,Corporation1,Gowdown1,600kg,15,Canteen2,1hrs,135°F,7,50000,280,300,280,79,70,20,200kg,98,46467,280
2,Corporation1,Gowdown1,600kg,15,Canteen3,1hrs,135°F,7,50000,300,300,300,98,65,19,200kg,90,48592,300
3,Corporation1,Gowdown2,750kg,25,Canteen1,2hrs,135°F,7,60000,300,300,300,99,71,18,265kg,91,25798,300
4,Corporation1,Gowdown2,750kg,25,Canteen2,2hrs,135°F,7,60000,200,300,200,51,67,9,265kg,113,42271,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Corporation9,Gowdown1,600kg,23,Canteen4,2hrs,135°F,7,65000,300,300,300,48,53,15,200kg,89,36114,300
95,Corporation9,Gowdown2,650kg,25,Canteen1,2hrs,135°F,7,65000,300,300,300,36,79,14,200kg,85,25969,300
96,Corporation9,Gowdown2,650kg,25,Canteen2,2hrs,135°F,7,65000,193,300,193,51,60,11,200kg,103,47314,193
97,Corporation9,Gowdown2,650kg,25,Canteen3,2hrs,135°F,7,65000,300,300,300,33,57,19,200kg,95,26799,300
98,Corporation9,Gowdown2,650kg,25,Canteen4,2hrs,135°F,7,65000,300,300,300,99,58,15,200kg,86,24586,300

In [ ]:
# Basic checks

In [28]:
donation.head()

,Muncipal_Corporation,Food_gowdown,Quantity_delivery_from_each_Gowdown,No_of_employees,Anna_canteen,Preparation_time_for_each_canteen,Food_temperature,No_of_Items,Total_cost,Total_customers,Total_available_food_plates,No_of_plates_consumed,No_of_feedbacks,No_of_positive_feedbacks,No_of_negative_feedbacks,Food_weight_at_annacanteen,No_of_donations,Total_donation_amount,Total_tokens_generated
0,Corporation1,Gowdown1,600kg,15,Canteen1,1hrs,135°F,7,50000,260,300,260,83,53,8,200kg,103,9590,260
1,Corporation1,Gowdown1,600kg,15,Canteen2,1hrs,135°F,7,50000,280,300,280,79,70,20,200kg,98,46467,280
2,Corporation1,Gowdown1,600kg,15,Canteen3,1hrs,135°F,7,50000,300,300,300,98,65,19,200kg,90,48592,300
3,Corporation1,Gowdown2,750kg,25,Canteen1,2hrs,135°F,7,60000,300,300,300,99,71,18,265kg,91,25798,300
4,Corporation1,Gowdown2,750kg,25,Canteen2,2hrs,135°F,7,60000,200,300,200,51,67,9,265kg,113,42271,200

In [29]:
donation.tail()

,Muncipal_Corporation,Food_gowdown,Quantity_delivery_from_each_Gowdown,No_of_employees,Anna_canteen,Preparation_time_for_each_canteen,Food_temperature,No_of_Items,Total_cost,Total_customers,Total_available_food_plates,No_of_plates_consumed,No_of_feedbacks,No_of_positive_feedbacks,No_of_negative_feedbacks,Food_weight_at_annacanteen,No_of_donations,Total_donation_amount,Total_tokens_generated
94,Corporation9,Gowdown1,600kg,23,Canteen4,2hrs,135°F,7,65000,300,300,300,48,53,15,200kg,89,36114,300
95,Corporation9,Gowdown2,650kg,25,Canteen1,2hrs,135°F,7,65000,300,300,300,36,79,14,200kg,85,25969,300
96,Corporation9,Gowdown2,650kg,25,Canteen2,2hrs,135°F,7,65000,193,300,193,51,60,11,200kg,103,47314,193
97,Corporation9,Gowdown2,650kg,25,Canteen3,2hrs,135°F,7,65000,300,300,300,33,57,19,200kg,95,26799,300
98,Corporation9,Gowdown2,650kg,25,Canteen4,2hrs,135°F,7,65000,300,300,300,99,58,15,200kg,86,24586,300

In [30]:
donation.columns

Index(['Muncipal_Corporation', 'Food_gowdown',
       'Quantity_delivery_from_each_Gowdown', 'No_of_employees',
       'Anna_canteen', 'Preparation_time_for_each_canteen', 'Food_temperature',
       'No_of_Items', 'Total_cost', 'Total_customers',
       'Total_available_food_plates', 'No_of_plates_consumed',
       'No_of_feedbacks', 'No_of_positive_feedbacks',
       'No_of_negative_feedbacks', 'Food_weight_at_annacanteen',
       'No_of_donations', 'Total_donation_amount', 'Total_tokens_generated'],
      dtype='object')

In [31]:
donation.dtypes

Muncipal_Corporation                   object
Food_gowdown                           object
Quantity_delivery_from_each_Gowdown    object
No_of_employees                         int64
Anna_canteen                           object
Preparation_time_for_each_canteen      object
Food_temperature                       object
No_of_Items                             int64
Total_cost                              int64
Total_customers                         int64
Total_available_food_plates             int64
No_of_plates_consumed                   int64
No_of_feedbacks                         int64
No_of_positive_feedbacks                int64
No_of_negative_feedbacks                int64
Food_weight_at_annacanteen             object
No_of_donations                         int64
Total_donation_amount                   int64
Total_tokens_generated                  int64
dtype: object

In [34]:
col_fil=donation[["Muncipal_Corporation","Food_gowdown","Anna_canteen","No_of_feedbacks","No_of_donations"]]

In [35]:
def donation_generation(donation,Muncipal_Corporation):
    newdf=col_fil[(col_fil["Muncipal_Corporation"]==Muncipal_Corporation)]
    final=newdf.to_dict('dict')
    return final

In [36]:
donation_generation(donation,"Corporation6")

{'Muncipal_Corporation': {64: 'Corporation6',
  65: 'Corporation6',
  66: 'Corporation6',
  67: 'Corporation6',
  68: 'Corporation6',
  69: 'Corporation6',
  70: 'Corporation6',
  71: 'Corporation6',
  72: 'Corporation6',
  73: 'Corporation6'},
 'Food_gowdown': {64: 'Gowdown1',
  65: 'Gowdown1',
  66: 'Gowdown1',
  67: 'Gowdown2',
  68: 'Gowdown2',
  69: 'Gowdown2',
  70: 'Gowdown3',
  71: 'Gowdown3',
  72: 'Gowdown3',
  73: 'Gowdown3'},
 'Anna_canteen': {64: 'Canteen1',
  65: 'Canteen2',
  66: 'Canteen3',
  67: 'Canteen1',
  68: 'Canteen2',
  69: 'Canteen3',
  70: 'Canteen1',
  71: 'Canteen2',
  72: 'Canteen3',
  73: 'Canteen4'},
 'No_of_feedbacks': {64: 49,
  65: 45,
  66: 50,
  67: 91,
  68: 93,
  69: 62,
  70: 36,
  71: 39,
  72: 66,
  73: 81},
 'No_of_donations': {64: 99,
  65: 103,
  66: 95,
  67: 94,
  68: 90,
  69: 117,
  70: 92,
  71: 113,
  72: 107,
  73: 83}}